.main_title,
.logo,
.text,
.btn
{
    margin-left: 30px;
}
.main_title
{
    width: 450px;
    font-size: 58px;
    letter-spacing: 3px;
    line-height: 64px;
    color: #060c31;
    font-weight: 500;
    font-family: "Crete Round";
}

.logo
{
    font-size: 34px;
    letter-spacing: 2px;
    line-height: 77px;
    color: #060c31;
    font-weight: 500;
    font-family: "Crete Round";
}

.text
{
    width: 420px;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #060c31;
    font-weight: 400;
    font-family: "Lato";
}

.image
{
    margin-top: 10px;
}

.cta-buttons {
    display: flex;
    margin-top: 30px;
}

.btn {
    padding: 15px 30px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
}
.btn-primary {
    width: 152px;
    height: 50px;
    background-color: #233fe2;
    color: white;
}

.btn-primary:hover
{
    transform: translateY(-3px);
    box-shadow: 0 4px 10px #576ce6;
}

.btn-secondary {
    background-color: white;
    border: 1px solid #ffb0b1;
}

.btn-secondary:hover {
    border-color: #9e0205;
    box-shadow: 0 4px 10px #ffb0b1;
}